<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.tnkfactory.offerrer.scene.TnkEmbedActivity" />
        <activity
            android:name="com.tnkfactory.ad.AdWallActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden|uiMode" />
        <!-- uiMode : TnkOfferwallTheme.SYSTEM 사용 시 필수입니다. 빠뜨리면 오퍼월을 보는 중 단말 다크모드를 바꿀 때
             Activity 가 재생성되어 오퍼월이 처음 화면으로 돌아갑니다. LIGHT / DARK / UNSPECIFIED 는 필요 없습니다. -->
    </application>
</manifest>